*, html {
  margin: 0;
  padding: 0;
}

.main-container {
  position: relative;
  margin: 50px auto;
  background-color: red;
  width: 750px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;;
}

.etch-label {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  font-family: 'Tangerine', serif;
  font-size: 48px;
  color: rgb(211, 179, 0);
}

.grid {
  display: grid;
  grid-template-columns: repeat(75, 1fr);
  grid-template-rows: repeat(50, 1fr);
  padding: 6px 40px;
  border-radius: 5px;
  height: 368px;
}

.grid-cell {
  background-color: rgb(199, 199, 199);
  justify-self: stretch;
}

#left-circle:hover, #right-circle:hover {
  cursor: pointer;
}

.circle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

#left-circle, #right-circle {
  display: flex;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 10px;
  box-shadow: 3px 2px 2px gray;
  justify-content: center;
  align-items: center;
}